.homepage{
    display: flex;
    min-height: 100%;
}
.home{
    display: flex;
    width: 100%;
    padding-left: 20vw;
    background-color: #2E2B2B;
    /* height: 100vh; */
    flex-direction: column;
}
.header{
    display: flex;
    height: 10vh;
    justify-content: flex-end;
}
.mini-spacer{
    display: flex;
    height: 5vh;
    justify-content: flex-end;
}
.spacerHorizontal{
    width: 2vw;
    height: 1000%;
}
.userButton{
    background-color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin: 15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.userIcon{
    background-color: #A52F21;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    margin-right: 5px;

}
.heading1{
    display: flex;
    font-size: 2.5em;
    margin-top: 10px;
    color: #c4c4c4;
    line-height: 50px;
    /* justify-content: ; */
}
.heading2{
    margin: 10px 0px 0px 0px;
    display: flex;
    font-size: 1em;
    color: #c4c4c4;
    /* justify-content: center; */
}
.playedContainer{
    display: flex;
    flex-direction: row;
    /* background-color: #A52F21; */
    width: 72vw;
    flex-wrap: wrap;
}
