.loginPage{
    width: 100%;
    overflow-x: hidden;
}
.formContainer{
    display: flex;
    height: 85vh;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
    background-color: #A52F21;
   
}
.login-wrap{
    margin-top: 10px;
    background-color: #CCCCCC;
    height: 239px;
    width: 394px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 15px 35px 15px;
}
.formTitle{
    font-size: 24px;
}
input {
    border: 2px solid white;
    border-radius: 15px;
    width: 300px;
    height: 30px;
}
.formBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.button{
    display: flex;
    width: 96px;
    height: 36px;
    background-color: #A52F21;
    color: white;
    text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
form{
    margin-top: 60px;
}
label > .formSubtitle{
    margin-top: 20px;
}

