.container{
    background-color: #2E2B2B;
    width: 100vw;
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}
.links{
    color: white;
    display: flex;
    flex-direction: row;
    flex: 2;
    text-decoration: none;
    /* align-items: center; */
}
a.links:hover, a.links:visited{
    text-decoration: none;
}