.sidenav {
    height: 100%;  
    width: 18%;  
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background-color:#A52F21;  
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.settings{
    display: flex;
    margin-right: auto;
    padding-left: 10px;
}
.list-nav{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 20px;
    max-width: 200px;
    align-items: center;
}
.list-nav > a{
    /* margin-left: 40px; */
    font-size: 1em;
}
.list-nav > a:visited{
    color: #C4C4C4;
}
.icon-sidebar{
    width: 30px;
    height: 30px;
    padding: 5px 10px 5px 5px;
}