.list{
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 15px 15px 15px 0px;
    padding: 10px;
    cursor: pointer;
}
.songArt{
    margin: auto;
    height: 70%;
    max-height: 70%;
}
.imageArt{
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 5px;
}
.title{
    font-size: 17px;
    color: #ffffff;
    padding-left: 5px;
    padding-top: 20px;
}
.artist{
    font-size: 17px;
    color: #c4c4c4;
    padding-left: 5px;
    padding-top: 20px;
}