
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&display=swap");
.App{
    height: 100%;
    width: 100%;
}
.musicBar {
    position: fixed;
    background-color: black;
    margin-top: auto;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    font-size: 12px;
    color: white;
}

.music-player--details {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.music-player--details img {
    border-radius: 1rem;
}

.music-player--details p {
    display: flex;
    flex-direction: row;
    margin-left: .15rem;
}

.upcomingsong {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 0;
}

.upcomingsong img {
    border-radius: 1rem;
}

.upcomingsong p {
    display: flex;
    flex-direction: row;
    margin-left: .15rem;
}

.music-player--controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.music-player--controls .play-btn {
    padding: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.play-btn:hover {
    transform: scale(1.1);
    color: white;
    opacity: 1;
    box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.music-player--controls .skip-btn {
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(33, 33, 33, 0.1), 0 3px 12px rgba(33, 33, 33, 0.15);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
}

.skip-btn:focus {
    color: white;
    opacity: 1;
    box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.skip-btn:hover {
    transform: scale(1.1);
    color: white;
    opacity: 1;
    box-shadow: 0 6px 9px rgba(33, 33, 33, 0.1), 0 6px 16px rgba(33, 33, 33, 0.15);
}

.text-anim {
    display: flex;
    flex-direction: row-reverse;
    padding-right: .75rem;
    margin-left: auto;
    margin-right: 0; 
}

.nextsong-details {
    display: flex;
    flex-direction: row;
    padding: 1px;
    height: 4em;
}

.nextsong-details img {
    border-radius: 1rem;
}

.nextsong-details p {
    display: flex;
    flex-direction: row;
    align-items: flex-end
}

@-webkit-keyframes background-scroll {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes background-scroll {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes background-scroll {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes background-scroll {
  100% {
    background-position: 50px 50px;
  }
}

.container{
    background-color: #2E2B2B;
    width: 80%;
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.logo{
    width: 80%;
    font-size: 3em;
    
}
.links{
    width: 20%;
    color: white !important;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    justify-content: center;
    font-size: 2em;
}
.links > div{
    margin: 10px;
}
a, a:visited{
  text-decoration: none; 
  color: white; 
}

.card{
    display:flex;
    flex-direction: column;
    width: 221px;
    height: 300px;
    background-color: #383535;
    border-radius: 10px;
    margin: 15px 15px 15px 0px;
    padding: 10px;
    cursor: pointer;
}
.card:hover{
    background-color: #534e4e;
    transition: .5s ease;
}

.songArt{
    margin: auto;
    height: 70%;
    max-height: 70%;
}
.song-img{
    border-radius: 15px;
    width: 200px;
    height: 200px;
    padding: 10px;
    z-index:1;
    /* position: absolute; */
}

.play-overlay {
    width: 40px;
    height: 40px;
    z-index: 2;
    padding: 165px 0px 0px 0px;
    margin-left: -55px;
    top: unset;
    /* top: 0; */
    /* right: 0; */
    position: absolute;
    /* left: 10px; */
    display: none;
}
.card:hover .play-overlay {
    display: initial;
    transition: all .5s ease;
}
.songTitle{
    font-size: 20px;
    color: #ffffff;
    height: 10%;
    max-height: 10%;
    /* padding-top: 10px; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 15px;
}
.songArtist{
    font-size: 12px;
    color: #c4c4c4;
    height: 20%;
    max-height: 20%;
    margin: 0px 15px 2px 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

a, a:visited {
    text-decoration: none;
    color: white;
}
.padding{
    width: 200px;
    height: 500px;
}
